@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
  font-family: Quicksand, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  height: 93px;
}

.page-item.active .page-link {
  background-color: #2fb380;
  border-color: #2fb380;
}

/* for inputs focus styling */
.form-control:focus {
  border-color: #2fb38082;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 0 0 0.25rem rgb(47 179 128 / 30%);
}

#person {
  width: 32px;
  height: 32px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #2fb380;
}

.rounded-20 {
  border-radius: 20px;
}
.review .person {
  height: 64px;
}

.create-article .form-control:focus {
  border-color: #287bb59c;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%), 0 0 0 0.25rem rgb(40 123 181 / 34%);
}


/* profile-info */
.profile .profile-info .border-end {
    border-right: 5px solid #dee2e6 !important;
    border-radius: 30px;
}
.profile .profile-info .border-start {
    border-left: 5px solid #dee2e6 !important;
    padding-top: 45px;
    border-radius: 30px;
    padding-left: 35px;
    padding-bottom: 45px;
}

@media screen and (max-width: 768px) {
  .profile .border-end {
    border: 0px !important;
  }
}