{% extends 'base/base.html' %} 

{% block title %} {{article.title}} {% endblock %}


{% block content %}

<div class="p-5 mb-4 bg-light">
    <h1>Quick Links</h1>
    <nav class="nav mt-3">
        <a class="nav-link active bg-success text-light me-2" aria-current="page" href="#article" >Article <i class="fas fa-arrow-down"></i> </a>
        <a class="nav-link active bg-success text-light me-2" aria-current="page" href="#reviews">Reviews <i class="fas fa-arrow-down"></i> </a>
    </nav>
</div>

<div id="article" class="article">
    <img class="img-fluid rounded-3" src="{{article.cover_image.url}}" alt="{{article.title}">
    
    <h1 class="pt-5 text-center">{{article.title}}</h1>

    <strong class="text-uppercase"> Created by: {{article.user.username}}</strong>
    
    <p>{{article.body|linebreaks}}</p>
      
</div>



<div class="my-5 py-5"></div>

{% comment %} Start of reviews {% endcomment %}


<div id="reviews" class="bg-success p-5 rounded-3 text-light">

    <h1 class="text-light">Reviews</h1>

    {% if user.is_authenticated %}    
        <form action="{% url 'article.submit_review' %}" method="post" class="mt-2 mb-5">
            
            {% csrf_token %}

            {% if request.session.error %}
                <div class="alert alert-dismissible alert-danger mt-5">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>{{request.session.error}}</strong>
                </div>
            {% endif %}

            <h2 class="mt-5 mb-3 text-light">Write a review</h2>

            <div class="form-group mb-2">
                <input name="reviewTitle" type="text" class="form-control" id="reviewTitle" placeholder="Title">
            </div>

            <div class="form-group">
                <textarea name="reviewBody" class="form-control rounded-3" id="reviewBody" rows="5" spellcheck="false" data-ms-editor="true" placeholder="Share what you think about the article in detail..." ></textarea>
            </div>

            <input type="hidden" name="articleID" value="{{article.id}}">

            <button type="submit" class="btn btn-light rounded-pill mt-2 fw-bolder">Submit</button>
        </form>
    {% endif %}

    {% for review in reviews %}
        {% comment %} <h2>{{review.title}} -- {{review.user.username}}</h2> {% endcomment %}
        
        <div class="review card text-dark rounded-20 p-3 mt-4">
            <div>
                {% load static %}
                <img src="{% static 'base/person.svg' %}" class="person d-inline-block me-2" /> 
                <a href="/user/{{review.user.username}}">
                    <strong class="text-capitalize">{{review.user.username}}</strong>
                </a>
                &nbsp ----- &nbsp
                <small>{{review.createdAt}} (UTC)</small>
            </div>
            <br>
            <h4><strong>{{review.title}}</strong></h4>
        
            <p>{{review.body}}</p>

        </div>
    
    {% endfor %}

 </div>


{% endblock %}
