{% extends 'base/base.html' %} 

{% block title %} Create Article{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-12">
        
            {% comment %} Includes the required css and scripts for tinyMCE editor {% endcomment %}
            {{ form.media }}

                <form class="bg-light rounded-3 p-5 create-article" method="post" action="" enctype="multipart/form-data">

                    {% csrf_token %}
                    {% load widget_tweaks %}

                    <h1 class="text-center text-info">Create Article</h1>

                    <div class="form-group">
                        {{ form.title|add_label_class:'form-label mt-4 fw-bolder'}}
                        {{ form.title|add_class:'form-control rounded-pill' }}
                    </div> 
                    <div class="form-group">
                        {{ form.cover_image|add_label_class:'form-label mt-4 fw-bolder'}}
                        {{ form.cover_image|add_class:'form-control rounded-pill' }}
                    </div>
                    <div class="form-group">
                        {{ form.body|add_label_class:'form-label mt-4 fw-bolder'}}
                        {{ form.body|add_class:'form-control rounded-3' }}
                    </div>  

                    <input class="btn btn-info rounded-pill mt-4" type="submit" value="Create Article">

                </form>

        </div>
    </div>
{% endblock %}

