{% extends 'base/base.html' %} 

{% block title %} Create Article{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-12">
            
            <form enctype="multipart/form-data" method="POST" action="/article/create" class="bg-light rounded-3 p-5 create-article">
                
                {% csrf_token %}

                <h1 class="text-center text-info">Create Article</h1>
                
                {% if error %}
                <div class="alert alert-dismissible alert-danger mt-5">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>{{error}}</strong>
                </div>
                {% endif %}

                <div class="form-group">
                    <label for="file" class="form-label mt-4">Cover Image</label>
                    <input name="cover_image" class="form-control rounded-pill" type="file" id="file">
                </div>

                <div class="form-group">
                    <label for="title" class="form-label mt-4">Title</label>
                    <input required name="title" type="text" class="form-control rounded-pill" id="title" placeholder="Short, Attracting Title ...">
                </div>
                
                
                <div class="form-group">
                    <label for="body" class="form-label mt-4">Body</label>
                    <textarea name="body" class="form-control" id="body" rows="10" spellcheck="true" data-ms-editor="true" placeholder="Tell here what your article is about in great detail ..."></textarea>
                  </div>

                <div>
                    <button type="submit" class="btn btn-info rounded-pill my-4"> Create Article </button>
                </div>
                

            </form>

        </div>
    </div>

{% endblock %}
