{% extends 'base/base.html' %} 

{% block title %} Create Article{% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-12">
            
            <form method="POST" class="bg-light rounded-3 p-5">
                
                {% csrf_token %}
                {% load widget_tweaks %}

                <h1 class="text-center text-danger mb-4">Delete Review</h1>
                
                <h3>Are you sure you want to delete "{{ object }}"?</h3>
                
                <button type="submit" class="btn btn-danger rounded-pill my-4"> Delete Permanently </button>                
                
            </form>

        </div>
    </div>

{% endblock %}
