<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'base/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'base/style.css' %}" />

    <title>Thoughts - {% block title %} {% endblock %}</title>
  </head>
  <body>

    <nav class="navbar mb-5 navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a href="/" class="navbar-brand mb-5 mb-md-0">
          <img
            id="logo"
            src="{% static 'base/logo.png' %}"
            alt="logo"
            srcset=""
          />
        </a>


        <button
          class="navbar-toggler mb-5 mb-md-0"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor03"
          aria-controls="navbarColor03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">

          <form action='{% url 'article.article_search' %}' method="GET" class="d-flex mb-2 mb-md-0">
            <input name='searchText' class="form-control me-2 mb-md-0" type="text" placeholder="Search Title or Author" spellcheck="false" data-ms-editor="true">
            <button class="btn btn-secondary" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>  
            </button>
        </form>

          <ul class="navbar-nav ms-auto">
            <li class="nav-item mb-2 mb-md-0">
              <a class="nav-link text-center active" href="/">Home </a>
            </li>
            <li class="nav-item mb-2 mb-md-0">
              <a class="nav-link text-center active" href="/articles"
                >Articles</a
              >
            </li>

            <li class="nav-item mb-2 mb-md-0">
              <a class="nav-link text-center text-light bg-info" href="/article/create"
                >Create Article</a
              >
            </li>

            {% if user.is_authenticated %}
              <li class="nav-item mb-2 mb-md-0 dropdown dropstart me-3">
                <img src="{% static 'base/person.svg' %}" class="nav-link dropdown-toggle person" id="person-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" /> 
                <ul class="dropdown-menu" aria-labelledby="person-dropdown">
                  
                  <li>
                    <a href="{% url 'user.user_profile' user.username %}" class="dropdown-item mb-2 mb-md-0 text-white bg-info fw-bolder">My Profile, {{user.username | upper}} </a>
                  </li>

                  <li>
                    <form action="/log-out/" method="post">
                        {% csrf_token %}
                        <input class="dropdown-item mb-2 mb-md-0"  type="submit" value="Log out" />
                    </form>
                  </li>

                </ul>
            </li>
            {% else %}
              <li class="nav-item mb-2 mb-md-0">
                <a class="nav-link bg-success text-light text-center active" href="/log-in">Login</a>
              </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>


    <div class="container">{% block content %} {% endblock %}</div>




    <div class="mt-5"></div>

   <script defer src="https://kit.fontawesome.com/feb7c09e30.js" crossorigin="anonymous"></script>

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
