{% extends 'base/base.html' %} 

{% block title %} Profile {% endblock %}

{% block content %}

    <div class="p-5 mb-4 bg-light">
        <h1>Quick Links</h1>
        <nav class="nav mt-3">
            <a class="nav-link active bg-success text-light me-2" aria-current="page" href="#articles" >Articles <i class="fas fa-arrow-down"></i> </a>
            <a class="nav-link active bg-success text-light me-2" aria-current="page" href="#reviews">Reviews <i class="fas fa-arrow-down"></i> </a>
        </nav>
    </div>


    <div class="profile">

        <div class="profile-info rounded-3 row align-items-center bg-info p-5">
            <div class="col-md-4">
                {% load static %}
                <img src="{% static 'base/person.svg' %}" alt="Avatar">
            </div>
            <div class="col-md-8 border-start border-end">
                <h1 class='lead text-light'>Username: {{userProfile.username|upper}}</h1>
                <h1 class='lead text-light'>Date Joined: {{userProfile.date_joined|upper}}</h1>
                <h1 class='lead text-light'>
                    Admin: {% if userProfile.is_superuser %} Yes {% else %} No {% endif %}
                </h1>
            </div>
        </div>

        <div id="articles" class="profile-articles rounded-3 row align-items-center bg-light p-5 mt-5">
            <h2 class='text-center mb-5'> <span class="text-capitalize">{{userProfile.username}}</span> have {{articles.count}} article{{articles.count|pluralize}}</h2>

             <div class="row">
            {% for article in articles %}
            <div class="col-12 col-md-6">
                <div class="card rounded-3 mb-4">
                <img
                    src="{{article.cover_image.url}}"
                    class="card-img-top"
                    alt="{{article.title}}"
                />
                <div class="card-body">
                    <h4 class="card-title text-center">
                    {{article.title|truncatewords:20 }}
                    </h4>
                    <div class="text-center mt-5 mb-4">
                        {% if user.id == article.user.id %}
                        <a
                        href="{% url 'article.article_update' article.id  %}"
                        class="btn btn-warning rounded-pill">
                        Edit
                        </a>
                    {% endif %}

                    <a
                        href="{% url 'article.article_detail' article.id  %}"
                        class="btn btn-success rounded-pill">
                        Read Now
                    </a>

                    {% if user.id == article.user.id %}
                        <a
                        href="{% url 'article.article_delete' article.id  %}"
                        class="btn btn-danger rounded-pill">
                        Delete
                        </a>
                    {% endif %}

                    </div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <small> Created At: {{article.createdAt}} </small>
                    </li>
                    <li class="list-group-item">
                        <small> Last Modified At: {{article.modifiedAt}} </small>
                    </li>
                    <li class="list-group-item">
                        <small> Created by: <a class="text-capitalize fw-bolder" href="{% url 'user.user_profile' article.user.username %}"> {{article.user.username}} </a>
                        </small>
                    </li>
                </ul>
                </div>
            </div>
            {% endfor %}
        </div>

        </div>

        <div id="reviews" class="profile-reviews rounded-3 row align-items-center bg-success p-5 mt-4">
            <h2 class='text-center text-light mb-5'> <span class="text-capitalize">{{userProfile.username}}</span> have provided {{reviews.count}} review{{reviews.count|pluralize}}</h2>

            {% for review in reviews %}
                {% comment %} <h2>{{review.title}} -- {{review.user.username}}</h2> {% endcomment %}
                
                <div class="review card text-dark rounded-20 p-3 mt-4">
                    <div>
                        {% load static %}
                        <img src="{% static 'base/person.svg' %}" class="person d-inline-block me-2" /> 
                        <a href="/user/{{review.user.username}}">
                            <strong class="text-capitalize">{{review.user.username}}</strong>
                        </a>
                        &nbsp ----- &nbsp
                        <small>{{review.createdAt}} (UTC)</small>
                    </div>
                    <br>
                    <h4><strong>{{review.title}}</strong></h4>
                
                    <p>{{review.body}}</p>

                    <div class="border border-1 border-success rounded-20 p-3">
                        <h5>Article Info</h3>
                        <h6>Title: {{review.article.title}}</h4>
                        <small class="d-block">Created by: <a class="text-capitalize"  href="{% url 'user.user_profile' review.article.user.username %}">{{review.article.user.username}}</a></small>
                        
                        <a href="{% url 'article.article_detail' review.article.id %}" class="btn btn-success btn-sm mt-3 rounded-pill">Read Now</a>

                        {% if user.id == review.user.id %}
                            <a href="{% url 'article.review_update' review.id %}" class="btn btn-warning btn-sm mt-3 rounded-pill">Edit Review</a>
                            <a href="{% url 'article.review_delete' review.id %}" class="btn btn-danger btn-sm mt-3 rounded-pill">Delete Review</a>
                        {% endif %}
                    
                    </div>

                </div>
                
            {% endfor %}

        </div>

    </div>
{% endblock %}
